<table class= "tabla">
  <tr>

    <th>Tarea</th>
    <th>Ok</th>

  </tr>
{{#each element}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.name}}
        </td>
    </tr>

{{/each}}

  </tr>
</table>