{{error}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" method="post">
          <fieldset>
            <legend div class="p-1 mb-1 bg-primary text-white rounded-pill col-4">¡KIERO LA KAKA DE NAHUEL!</div></legend>
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
            
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <br>
                  <a href="#" class="text-decoration-none">Nombre: </a>
                  <input type="text" name="nombre" id="nombre" value="{{datos.nombre}}">
                </div>

                <div class="col-md-8">
                  <a href="#" class="text-decoration-none">Como te sentiste? </a>
                  <select class="form-control"  id="state_id" value="{{datos.estado}}">
                    <option value="feliz">Elija una opcion</option>
                    <option value="feliz">Feliz</option>
                    <option value="infeliz">Infeliz</option>
                    <option value="regular">Regular</option>
                  </select>
                </div>
              </div>                    
            </div>
               
            <div class="col-12">
                <a href="#" class="text-decoration-none">Podrías desahogarte un poco mas acá abajo </a>
            </div>

            <div class="form-group">
              <div>
                <textarea class="form-control" id="message" name="message" value="{{datos.mensaje}}" rows="7"></textarea>
              </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>