<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <style>
      h1
      {
        background-color: black;
        color: white;
      }
      .checked
      {
        color: green;
        text-align: center;
        font-weight: bolder;
      }
      .baned
      {
        color: red;
        text-align: center;
        font-weight: bolder;
      }

      .table
      {
        border: solid;
        width:max-content;
        text-align: left;
        font-family: cursive;
        height: max-content;
      }
    </style>

    <title>Archivo Tabla</title>
</head>
<body>
    <div class=container>
        {{{body}}}
    </div>
</body>
</html>